{% extends "base.html" %}
{% block title %}ARTICLE BOARD{% endblock %}
{% block head %}
    {{super()}}
    <script language="JavaScript">

        $(document).ready(function(){

            // 모달창에서 '예'를 클릭하면
            $(".MyInputClass").click(function(){

                $(".MyFormClass").attr("method", "post");
                $(".MyFormClass").attr("action", "/article_board/delete");
                $(".MyFormClass").submit();
            });
        });

        function trigger_modal(article_id){
            $(".modal-footer #hidden_article_id").val(article_id);
            $("#myModal" + article_id).modal();
        }




        function order_text(id, page){
            // 1 이면 오름차순 정렬
            // 0 이면 내림차순 정렬
            var url = $(location).attr('href');
            var asc1_desc0 = getParameterByName(url, 'asc1_desc0');
            var search_msg = getParameterByName(url, 'search_msg');
            var before_selected_col = getParameterByName(url, 'col_name');
            var sid1 = getParameterByName(url, 'sid1');
            var sid2 = getParameterByName(url, 'sid2');
            var ordering = 1;



            if(id == before_selected_col){
                if(asc1_desc0 == 1) {
                    ordering = 0;
                }
                else {
                    ordering = 1;
                }
            }
            else {
                ordering = 1;
            }


            // 검색한 경우 ordering
            if(search_msg){
                //location.replace("/text_board/order?col_name=" + id + "&asc1_desc0=" + ordering + "&page=" + page + "&search_msg=" + search_msg);
                location.replace("/" + 'article_board' + "/order?col_name=" + id + "&asc1_desc0=" + ordering + "&page=" + page + "&search_msg=" + search_msg + "&sid1=" + sid1 + "&sid2=" + sid2);
            }
            // 검색하지 않았을 경우 ordering
            else{
                //location.replace("/text_board/order?col_name=" + id + "&asc1_desc0=" + ordering + "&page=" + page);
                location.replace("/" + 'article_board' + "/order?col_name=" + id + "&asc1_desc0=" + ordering + "&page=" + page + "&sid1=" + sid1 + "&sid2=" + sid2);
            }


        }


        function search_article(){
            var search_msg = $("#SearchArticle").val().trim();

            if(search_msg == ''){
                alert('검색어를 입력해주십시오.');
            }
            else{
                $("#frm").attr("method", "get");
                $("#frm").attr("action", "/article_board/search");
                $("#frm").submit();
            }
        }


        function getParameterByName(url, param_name){
            var after_part = url.split("?")[1];
            var param_arr = after_part.split("&");

            for(var i = 0 ; i < param_arr.length ; i++)
            {
                var key_value = param_arr[i].split("=");

                if(key_value[0] === param_name)
                {
                    return key_value[1];
                }
            }
        }
    </script>






{% endblock %}


{% block flash %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes my-4">
                {% for category, message in messages %}
                    <p class="{{category}} text-center" style="font-size:20px">{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}


{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('article_board', page=1, col_name='article_id', asc1_desc0=1)}}">Article Board</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{url_for('text_board', page=1, col_name='sent_id', asc1_desc0=1)}}">Sentence Board</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{url_for('export')}}">Export</a>
    </li>
</ul>

<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" href="#">{{user_id}}님 접속중...</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"><i class="fa-blink"><i class="fas fa-sign-out-alt"></i></i> 로그아웃</a></li>
</ul>
{% endblock %}



{% block content %}

    <div class="container-fluid">

        <div class="row">
            <!--
            <form class="form-inline my-2" method="get" action="/article_board/search" role="search">
            -->
            <form class="form-inline my-2" id="frm" role="search">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control col-md-12" id="SearchArticle" name="search_msg" placeholder="기사 제목을 검색해주세요.">
                        <input type="hidden" name="page" value="{{page}}">
                        {% if sid1 is defined and sid2 is defined %}
                            <input type="hidden" name="sid1" value="{{sid1}}">
                            <input type="hidden" name="sid2" value="{{sid2}}">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" onclick="search_article()" value="검색">
                </div>
            </form>
        </div>


        <div class="row my-2">
            <div class="col-2">
                <input type="button" class="btn btn-primary btn-block my-2" value="모든 기사 목록" onclick="location.href='/article_board?page=1&col_name=article_id&asc1_desc0=1';">
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-2">
                {% include 'category.html' ignore missing %}
            </div>

            <div class="col-10">
                <!--{{pagination.info}}-->
                {{pagination.links}}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <div>
                                {% set cname_1 = 'fas fa-sort' %}
                                {% set cname_2 = 'fas fa-sort' %}
                                {% set cname_3 = 'fas fa-sort' %}

                                {% if asc1_desc0 == '0' and col_name == 'article_id' %}
                                    {% set cname_1 = 'fas fa-sort-down' %}
                                    {% set cname_2 = 'fas fa-sort' %}
                                    {% set cname_3 = 'fas fa-sort' %}
                                {% elif asc1_desc0 == '1' and col_name == 'article_id' %}
                                    {% set cname_1 = 'fas fa-sort-up' %}
                                    {% set cname_2 = 'fas fa-sort' %}
                                    {% set cname_3 = 'fas fa-sort' %}

                                {% elif asc1_desc0 == '0' and col_name == 'article_uploaded_date' %}
                                    {% set cname_2 = 'fas fa-sort-down' %}
                                    {% set cname_1 = 'fas fa-sort' %}
                                    {% set cname_3 = 'fas fa-sort' %}
                                {% elif asc1_desc0 == '1' and col_name == 'article_uploaded_date' %}
                                    {% set cname_2 = 'fas fa-sort-up' %}
                                    {% set cname_1 = 'fas fa-sort' %}
                                    {% set cname_3 = 'fas fa-sort' %}

                                {% elif asc1_desc0 == '0' and col_name == 'article_collected_date' %}
                                    {% set cname_3 = 'fas fa-sort-down' %}
                                    {% set cname_1 = 'fas fa-sort' %}
                                    {% set cname_2 = 'fas fa-sort' %}
                                {% elif asc1_desc0 == '1' and col_name == 'article_collected_date' %}
                                    {% set cname_3 = 'fas fa-sort-up' %}
                                    {% set cname_1 = 'fas fa-sort' %}
                                    {% set cname_2 = 'fas fa-sort' %}
                                {% endif %}
                                </div>

                                <th style="width : 11%" class="text-center">기사 번호<button class="btn" id="article_id" onclick="order_text(id,'{{page}}')"><i class='{{cname_1}}'></i></button></th>
                                <th class="text-center">기사 제목 (문장 개수)</th>
                                <th style="width : 15%" class="text-center">업로드 날짜<button class="btn" id="article_uploaded_date" onclick="order_text(id, '{{page}}')"><i class='{{cname_2}}'></i></button></th>
                                <th style="width : 15%" class="text-center">수집 날짜<button class="btn" id="article_collected_date" onclick="order_text(id, '{{page}}')"><i class='{{cname_3}}'></i></button></th>
                                <th style="width : 10%" class="text-center">대분류</th>
                                <th style="width : 10%" class="text-center">소분류</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for row in board_total %}
                            <tr>
                                <td class="text-center">{{row.article_id}}</td>


                                <td><a href="/text_board?article_id={{row.article_id}}&sid1={{row.article_sid1}}&sid2={{row.article_sid2}}">{{row.article_title}}</a> ({{row.article_sent_count}})</td>

                                {% if row.article_uploaded_date|string == '1900-01-01 00:00:00' %}
                                    <td class="text-center">-</td>
                                {% else %}
                                    <td class="text-center">{{row.article_uploaded_date}}</td>
                                {% endif %}

                                {% if row.article_collected_date|string == '1900-01-01 00:00:00' %}
                                    <td class="text-center">-</td>
                                {% else %}
                                    <td class="text-center">{{row.article_collected_date}}</td>
                                {% endif %}


                                <td class="text-center">{{row.article_sid1}}</td>
                                <td class="text-center">{{row.article_sid2}}</td>

                                <!--
                                <form method="post" action="/article_board/delete">
                                -->

                                <!--
                                <form id="frm">
                                    <td class="text-center">
                                        <input type="submit" class="btn btn-danger btn-sm" id="delete" value="삭제">
                                        <input type="hidden" name="article_id" value="{{row.article_id}}">
                                        <input type="hidden" name="page" value="{{page}}">
                                    </td>
                                </form>
                                -->

                                <td class="text-center">
                                    {% if row.article_id != 0 %}
                                        <input type="button" class="btn btn-danger btn-sm" onclick="trigger_modal('{{row.article_id}}')" value="삭제">
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                {{pagination.links}}

            </div>
        </div>


        <div class="col-2">
            <input type="button" class="btn btn-primary btn-block my-2" value="모든 기사 목록" onclick="location.href='/article_board?page=1&col_name=article_id&asc1_desc0=1';">
        </div>


        {% for row in board_total %}
        <!-- Modal -->
        <div id="myModal{{row.article_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i>경고</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>{{row.article_id}}번 기사를 정말 삭제하시겠습니까?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">아니오</button>
                        <form class="MyFormClass">
                            <input type="submit" class="btn btn-primary MyInputClass" data-dismiss="modal" value="예">
                            <input type="hidden" name="article_id" id="hidden_article_id" value="">
                            <input type="hidden" name="page" value="{{page}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>







{% endblock %}