<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>텍스트 편집 창</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body>

    <div class="container">

        <form method="post" action="/text_board">

            <div class="form-group">
                <label for="ORIGINAL">ORIGINAL</label>
                <input type="text" class="form-control" id="ORIGINAL" name="ORIGINAL" value="{{original_text}}">
            </div>


            <div class="form-group">
                <label for="CONVERTED">CONVERTED</label>
                <input type="text" class="form-control" id="CONVERTED" name="CONVERTED" value="{{converted_text}}">
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" name="confirm" id="confirm">변환 확인</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" name="ambiguity" id="ambiguity">중의성</label>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <input type="button" class="btn btn-success" id="cancel" name="cancel" onclick="history.back();" value="취소">
                    </div>

                    <div class="col-md-offset-10 col-md-1">
                        <input type="submit" class="btn btn-success" id="save" name="save" value="저장">
                    </div>
                </div>
            </div>

        </form>

    </div>


    <script language="JavaScript">

        $(document).ready(function(){
            $('#save').prop('disabled', true);


            $("#confirm").click(function(){

                if($('#confirm').is(':checked')){
                    $('#save').prop('disabled', false);
                }
                else{
                    $('#save').prop('disabled', true);
                }

            });

        });



        function getParameterByName(param_arr, param_name){
            for(var i = 0 ; i < param_arr.length ; i++)
            {
                var key_value = param_arr[i].split("=");

                if(key_value[0] === param_name)
                {
                    return key_value[1];
                }
            }
        }



    </script>
</body>
</html>