<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>텍스트 변환 게시판</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>텍스트</th>
                        <th>기사 번호</th>
                        <th>기사 수집일</th>
                        <th>텍스트 편집일</th>
                        <th>조회수</th>
                    </tr>
                </thead>

                <tbody>
                {% for row in board_total|sort(attribute='0', reverse=True) %}
                    <tr>
                        <th>{{row[0]}}</th>
                        <!--
                        <th><a href="#" onclick="text_click(`{{original}}`, `{{converted}}`)">{{row[1]}}</a></th>
                        -->
                        <th><a href="#" onclick="text_click(`{{row[0]}}`)">{{row[1]}}</a></th>

                        <th>{{row[2]}}</th>
                        <th>{{row[3]}}</th>
                        <th>{{row[4]}}</th>
                        <th>{{row[5]}}</th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>



            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
            </div>



    </div>


    <script language="JavaScript">


        function text_click(id){

            location.href = "text_board/" + id + "/edit";
        }


    </script>

</body>
</html>