{% extends "base.html" %}
{% block title %}BOARD{% endblock %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script language="JavaScript">

        $(document).ready(function() {

            $("#myFilter").keyup(function(){

                var value = $(this).val();

                $("#myTbody a:contains('" + value + "')").parent().parent().show();
                $("#myTbody a:not(:contains('" + value + "'))").parent().parent().hide();


            });

            $("#myTable").DataTable({
                "stateSave" : true,
                "searching" : false,
                "pagingType" : "full_numbers",
                "columnDefs" : [
                    {width:"5%", targets:0},
                    {orderable:false, targets:1},
                    {width:"7%", targets:2},
                    {width:"15%", targets:3},
                    {width:"15%", targets:4},
                    {width:"7%", targets:5},
                    {orderable:false, targets:6}
                ]
            });

        });


        function edit_text(id){
            //alert('edit ' + id);

            location.href = "text_board/" + id + "/edit";
        }

        function delete_text(id){
            //alert('delete ' + id);

            location.href = "text_board/" + id + "/delete";
        }

        function create_text(){
            //alert('create');

            location.href = "text_board/create";
        }
    </script>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h2>텍스트 변환 게시판</h2>
        </div>
    </div>



    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{username}}님 접속중...</a></li>
                    <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
        </div>
    </div>




    <div class="container-fluid">

            <p>텍스트 필터</p>
            <div class="col-md-5">
                <input class="form-control" type="text" id="myFilter" type="text" placeholder="Search...">
            </div>
            <br><br><br>



            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">번호</th>
                        <th class="text-center">텍스트</th>
                        <th class="text-center">기사 번호</th>
                        <th class="text-center">기사 수집일</th>
                        <th class="text-center">텍스트 편집일</th>
                        <th class="text-center">수정 횟수</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="myTbody">
                {% for row in board_total|sort(attribute='sent_id', reverse=True) %}
                    <tr>
                        <td class="text-center">{{row.sent_id}}</td>

                        {% if row.sent_confirm == 1 %}
                        <td>
                            <a href="#" onclick="edit_text('{{row.sent_id}}')">{{row.sent_converted}}</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="#" onclick="edit_text('{{row.sent_id}}')">{{row.sent_original}}</a>
                        </td>
                        {% endif %}

                        <td class="text-center">{{row.article_id}}</td>
                        <td class="text-center">{{row.article_collected_date}}</td>
                        <td class="text-center">{{row.sent_modified_date}}</td>
                        <td class="text-center">{{row.sent_converted_count}}</td>
                        <td class="text-center"><input type="button" class="btn btn-danger btn-sm" id="delete" value="삭제" onclick="delete_text('{{row.sent_id}}')"></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


            <div class="text-right">
                <input type="button" class="btn btn-primary" value="글쓰기" onclick="create_text()">
            </div>

    </div>
{% endblock %}
